@import url("https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.nav {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

nav {
  padding: 10px 1rem;
  display: flex;
  justify-content: center;
  gap: 550px;
  letter-spacing: 2px;
  border-bottom: 2px solid black;
  align-items: center;
  background-color: white;
}
nav .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .logo h4 {
  font-size: 1.5rem;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
}
nav a {
  text-decoration: none;
  font-size: 15px;
  color: black;
  position: relative;
  padding: 4px;
}
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 2.5px;
  background-color: black;
  transition: 0.3s;
}
nav a:hover::after {
  width: 100%;
}
nav span {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-direction: row-reverse;
}
nav .burger {
  display: none;
}
nav .burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: black;
  transition: 0.3s all ease;
}

section {
  height: auto;
}

.home {
  padding: 100px 1rem 1rem 1rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.home .container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 60%;
}
.home .container .home-img {
  display: flex;
  gap: 20px;
  transition: 0.3s;
}
.home .container .home-img img {
  width: 100%;
  height: 100%;
  border: 2px solid;
}
.home .container .button-wrapper {
  display: flex;
  gap: 680px;
  position: absolute;
  top: 45%;
  z-index: 10;
}
.home .container .button-wrapper button {
  height: 40px;
  text-align: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.home .container .slideActvie {
  transform: translateX(-100%);
}
.home .home-text {
  width: 40%;
  padding: 1rem;
  letter-spacing: 2px;
}
.home .home-text h1 {
  font-size: 2rem;
}
.home .home-text p {
  letter-spacing: 2px;
}

.about {
  padding: 100px 1rem 1rem 1rem;
}
.about .container {
  padding: 1rem;
  display: flex;
  flex-direction: row-reverse;
}
.about .about-deskripsi {
  text-align: start;
  letter-spacing: 2px;
  width: 40%;
  margin: auto;
}
.about .about-img-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 30px;
  margin-bottom: 20px;
  align-items: center;
  width: 60%;
  position: relative;
}
.about .about-img {
  width: 50vh;
  height: 30vh;
  box-shadow: 0px 2px 4px 0px;
  padding: 10px;
}
.about .about-img img {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid black;
}

.menu {
  padding: 100px 1rem 1rem 1rem;
  height: 210vh;
  /* HTML: <div class="loader"></div> */
}
.menu h1 {
  text-align: center;
  letter-spacing: 3px;
  font-size: 2rem;
}
.menu .menu-category {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 1rem;
  margin-top: 50px;
}
.menu .menu-category span {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  position: relative;
  font-size: 1.3rem;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.menu .menu-category span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: black;
  transition: 0.3s;
}
.menu .menu-category span:hover::after {
  width: 100%;
}
.menu .category-item {
  padding: 1rem;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.menu .category-item .item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  padding: 1px;
  width: 54vh;
  box-shadow: 0px 2px 4px 0px;
  padding: 10px;
}
.menu .category-item .item-wrapper h4 {
  letter-spacing: 3px;
  padding: 10px;
  text-align: center;
}
.menu .category-item .item-wrapper p {
  text-align: center;
  letter-spacing: 2px;
  padding: 5px;
}
.menu .category-item .item-wrapper .item-img {
  width: 50vh;
  overflow: hidden;
}
.menu .category-item .item-wrapper .item-img img {
  width: 100%;
  height: 40vh;
  border: 2px solid;
}
.menu .loader {
  width: 50px;
  margin-top: 90px;
  margin-inline: auto;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 0 70%, rgb(0, 0, 0) 0) 50%/8% 100%, linear-gradient(90deg, rgba(0, 0, 0, 0.25) 30%, rgba(0, 0, 0, 0) 0 70%, rgba(0, 0, 0, 0.75) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.menu .loader::before,
.menu .loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.menu .loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}

/* Contact ============================== */
.contact {
  padding-top: 40px;
  /* background: transparent; */
  background-color: #ffffff;
  height: auto;
  padding-bottom: 20px;
}

.contact-wrapper {
  padding: 1rem 3rem;
  width: 50%;
  margin-inline: auto;
  border: 3px solid rgb(0, 0, 0);
}

.contact-wrapper h4 {
  color: rgb(0, 0, 0);
  font-size: large;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}

.form-contact {
  padding: 1rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  /* width: 40%; */
  margin-top: 20px;
  margin-inline: auto;
  letter-spacing: 3px;
}

.form-wrapper label {
  color: rgb(0, 0, 0);
  margin-block: 5px;
  font-size: small;
}

.form-wrapper input {
  background: transparent;
  border-bottom: 3px solid rgb(0, 0, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  padding-block: 5px;
}

.form-wrapper textarea {
  outline: none;
  width: 100%;
  height: 20vh;
  padding: 1rem;
  letter-spacing: 2px;
}

.form-wrapper textarea::-moz-placeholder {
  letter-spacing: 3px;
}

.form-wrapper textarea::placeholder {
  letter-spacing: 3px;
}

.form-wrapper button {
  width: 20vh;
  height: 6vh;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  font-weight: bolder;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  position: relative;
  transition: 0.3s all ease;
  z-index: 1;
  border: 2px solid rgb(0, 0, 0);
}

.form-wrapper button::after {
  content: "";
  position: absolute;
  background-color: #000000;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: 0.3s all ease;
  z-index: -1;
}

.form-wrapper button:hover::after {
  width: 100%;
}

.form-wrapper button:hover {
  color: white;
}

.contact-wrapper p {
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
  /* font-size: 60%; */
  text-align: center;
}

.footer {
  height: auto;
  padding: 2rem;
  background-color: black;
}
.footer .container {
  display: flex;
  justify-content: center;
  gap: 80px;
}
.footer .container span {
  color: white;
}

@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  nav {
    position: relative;
  }
  nav .burger {
    display: block;
    cursor: pointer;
  }
  nav ul {
    flex-direction: column;
    position: absolute;
    height: 0;
    width: 100%;
    padding: 0;
    top: 57px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    border-bottom: 2px solid;
    transition: 0.5s all ease;
    overflow: hidden;
  }
  nav ul span {
    flex-direction: column-reverse;
  }
  .active {
    height: 60vh;
    top: 60px;
    padding-block: 1rem;
  }
  .bactive .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .bactive .line2 {
    opacity: 0;
  }
  .bactive .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .home {
    flex-direction: column;
  }
  .home .container {
    width: 100%;
  }
  .home .container .button-wrapper {
    display: none;
  }
  .home .container .home-img {
    animation: slide 7s linear infinite;
    opacity: 0.5;
  }
  .home .container .home-img img {
    animation-delay: 2s;
  }
  .home .home-text {
    text-align: center;
    width: 100%;
  }
  .home .home-text p {
    font-size: small;
  }
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .about .container {
    flex-direction: column;
  }
  .about .container .about-deskripsi {
    width: 100%;
    text-align: center;
  }
  .about .container .about-img-wrapper {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 10px;
  }
  .about .container .about-img-wrapper .about-img {
    width: 45vh;
  }
  .contact-wrapper {
    width: 80%;
  }
  .contact-wrapper p {
    font-size: smaller;
  }
  .menu {
    height: auto;
  }
}
@media (max-width: 580px) {
  nav {
    gap: 60%;
  }
  nav a {
    font-size: smaller;
  }
  .home .home-text h1 {
    font-size: medium;
  }
  .home .home-text p {
    font-size: small;
  }
  .about .container .about-img-wrapper .about-img {
    width: 50vh;
    height: 30vh;
    padding: 0;
  }
  .menu {
    height: auto;
  }
  .menu h1 {
    font-size: medium;
  }
  .menu .menu-category {
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px;
    gap: 3rem;
  }
  .menu .menu-category span {
    font-size: smaller;
  }
  .menu .menu-category span img {
    width: 50px;
  }
  .contact-wrapper {
    padding: 10px;
  }
  .footer {
    font-size: smaller;
  }
}
@media (max-width: 480px) {
  nav {
    gap: 200px;
  }
  .home .home-text h1 {
    font-size: smaller;
  }
  .home .home-text h2 {
    font-size: smaller;
  }
  .home .home-text p {
    font-size: x-small;
  }
  .about .container .about-img-wrapper .about-img {
    width: 30vh;
    height: auto;
    padding: 4px;
  }
  .about-deskripsi h1 {
    font-size: smaller;
  }
  .about-deskripsi p {
    font-size: x-small;
  }
  .menu {
    height: auto;
    font-size: smaller;
  }
  .menu .menu-category {
    align-items: center;
  }
  .menu .menu-category span {
    font-size: xx-small;
  }
  .menu .menu-category span img {
    width: 30px;
    height: 30px;
  }
  .menu .category-item {
    gap: 10px;
  }
  .menu .category-item .item-wrapper {
    width: 30vh;
  }
  .menu .category-item .item-wrapper p {
    font-size: x-small;
  }
  .menu .category-item .item-wrapper .item-img {
    width: 100%;
    height: auto;
  }
  .menu .category-item .item-wrapper .item-img img {
    height: 30vh;
  }
  .footer {
    width: 100%;
    font-size: small;
  }
  .footer .container {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 380px) {
  body {
    display: flex;
  }
}
@media (max-width: 1024px) {
  nav {
    gap: 430px;
    width: auto;
  }
  .menu {
    height: auto;
  }
}
@media (max-width: 940px) {
  nav {
    gap: 300px;
    width: auto;
  }
  .home {
    flex-direction: column;
  }
  .home .container {
    width: 100%;
  }
  .home .home-text {
    width: 100%;
    text-align: center;
  }
  .about .container {
    flex-direction: column;
  }
  .about .container .about-deskripsi {
    width: 100%;
  }
  .about .container .about-deskripsi h1 {
    text-align: center;
  }
  .about .container .about-deskripsi p {
    text-align: center;
  }
  .about .container .about-img-wrapper {
    flex-direction: row;
    margin-top: 40px;
    margin-inline: auto;
    width: 100%;
  }
  .menu {
    height: auto;
  }
  .contact-wrapper {
    width: 80%;
  }
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}/*# sourceMappingURL=input.css.map */